.main-highlight {
    background-color: $brand_primary;

    > .container {
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            margin: 0 10px;
        }
    }

    .main-highlight-content {
        margin-right: 40px;
    }

    .main-highlight-title {
        color: $dark;
        font-size: 40px;
        margin: 0;

        .main-highlight-small {
            font-size: 25px;
            margin-left: 10px;
        }
    }

    .main-highlight-subtitle {
        color: $light;
        font-size: 20px;
        margin: 0;
    }

    .main-highlight-link {
        padding: 5px 10px;
        border-radius: $border-radius;
        background-color: $light;
        text-decoration: none;
        color: $dark;

        &:hover {
            color: $brand_primary;
        }

        &:active {
            color: $dark;
        }
    }
}
.main-column {
    display: flex;
    flex-direction: column;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-grow: 1;
    }

    a {
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    border: solid 1px $brand_primary;
    border-radius: 15px;
    margin: 15px;
}

.main-column.index-activities,
.main-column.index-actions,
.main-column.index-challenges {
    padding: 10px;

}

.index-activities {
    strong, span {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    strong {
        margin-right: 10px;
    }

    li {
        background-color: $brand_primary;
        padding: 10px 15px;
        margin-bottom: 20px;
        color: $light;
        border-radius: 25px;
        position: relative;
    }
}
.index-actions {
    li {
        border: solid 1px $brand_primary;
        border-radius: 7px;
        margin: 7px 0;
        position: relative;
        width: calc(100% - 2px);
        height: 150px;
        background-position: center;
        background-size: cover;
    }

    small {
        background-color: $brand_primary;
        position: absolute;
        bottom: 5px;
        color: $light;
    }

    .floating-text {
        position: absolute;
        bottom: 6px;
        right: 0px;
        padding: 3px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
.index-challenges {
    li {
        background-color: $brand_primary;
        padding: 10px 15px;
        margin-bottom: 20px;
        color: $light;
        border-radius: 25px;
        display: flex;
        align-items: center;
        position: relative;
    }

    span {
        margin-left: 10px;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}

.aside-more {
    postition: absolute;
    bottom: 0;
}



