.main-highlight {
    background-color: $brand_primary;

    > .container {
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            margin: 0 10px;
        }
    }

    .main-highlight-content {
        margin-right: 40px;
    }

    .main-highlight-title {
        color: $dark;
        font-size: 40px;
        margin: 0;

        .main-highlight-small {
            font-size: 25px;
            margin-left: 10px;
        }
    }

    .main-highlight-subtitle {
        color: $light;
        font-size: 20px;
        margin: 0;
    }

    .main-highlight-link {
        padding: 5px 10px;
        border-radius: $border-radius;
        background-color: $light;
        text-decoration: none;
        color: $dark;

        &:hover {
            color: $brand_primary;
        }

        &:active {
            color: $dark;
        }
    }
}
