.main-highlight {
    background-color: $brand_primary;

    > .container {
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            margin: 0 10px;
        }
    }

    .main-highlight-content {
        margin-right: 40px;
    }

    .main-highlight-title {
        color: $dark;
        font-size: 40px;
        margin: 0;

        .main-highlight-small {
            font-size: 25px;
            margin-left: 10px;
        }
    }

    .main-highlight-subtitle {
        color: $light;
        font-size: 20px;
        margin: 0;
    }

    .main-highlight-link {
        padding: 5px 10px;
        border-radius: $border-radius;
        background-color: $light;
        text-decoration: none;
        color: $dark;

        &:hover {
            color: $brand_primary;
        }

        &:active {
            color: $dark;
        }
    }
}

.dashboard {
    .header-subtitle {
        font-weight: bold;
        max-width: 800px;
        margin-bottom: 30px;
    }

    .main-highlight-subtitle {
        font-weight: bold;
    }
}

.index-columns {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    aside {
        margin: 30px 10px 0 10px;
        padding: 20px;
        border-radius: $border-radius;
        background-color: $brand_secondary_light;
    }

    .aside-title {
        margin: 0;
        margin-bottom: 20px;
    }
}

.index-activities {
    ul {
        height: 383px;
        margin-bottom: 20px;
    }

    li {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: $brand_primary;
        color: $light;
        margin-bottom: 26px;

        &:hover {
            background-color: $brand_primary_dark;
        }
    }

    .index-activities-date {
        width: 55px;
        display: inline-block;
        color: $dark;
    }

    .index-activities-none {
        color: $brand_primary;
    }
}

.index-actions {
    ul {
        height: 383px;
        margin-bottom: 20px;
    }

    li {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff;
        height: 175px;
        border: solid 3px $brand_primary;
        border-radius: $border-radius;
        margin-bottom: 20px;
        position: relative;

        &:hover {
            border-color: $brand_primary_dark;

            .index-actions-overlay {
                background-color: $brand_primary_dark;
            }
        }
    }

    .index-actions-overlay {
        color: $dark;
        background-color: $brand_primary;
        padding: 5px 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: absolute;
        bottom: 5px;
        right: 0;
    }
}

.index-challenges {
    ul {
        height: 383px;
        margin-bottom: 20px;
    }

    li {
        height: 114px;
        border-radius: $border-radius;
        margin-bottom: 20px;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

    .index-challenges-overlay {
        background-color: $brand_primary_overlay;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .index-challenges-title {
        color: $light;
        width: 100%;
        display: inline-block;
        font-weight: bold;
    }

    .index-challenges-category {
        color: $dark;
        width: 100%;
        display: inline-block;
    }
}
