$brand_primary: #1ca756;
$brand_primary_light: #23D26B;
$brand_primary_dark: #157A3F;
$brand_primary_overlay: rgba(28, 167, 86, 0.5);
$light: #fff;
$dark: #000;

$content-width: 1000px;
$border-radius: 5px;
$border-radius-large: 20px;

$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1400px
);
