.challenges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.challenge {
    width: 31%;
    margin: 10px;
    margin-bottom: 30px;

    a {
        text-decoration: none;
        color: $light;

        &:hover {
            color: $light;
        }
    }

    .challenge-image {
        width: 100%;
        height: 350px;
        border: solid 3px $brand_primary;
        border-radius: $border-radius-large;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .challenge-overlay {
        background-color: $brand_primary_overlay;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .challenge-title {
        margin: 0;
        padding: 5px 20px;
        display: inline-block;
    }

    .challenge-subtitle {
        padding: 0 20px;
        display: inline-block;
        margin-bottom: 20px;
        color: $dark;
    }
}
