.link-bar {
    background-color: $gray;
    padding: 1px;

    a {
        color: $dark;
        margin: 0 10px;

        &:hover {
            color: $brand_highlight;
        }

        &.active {
            color: $brand_highlight;
        }
    }

    > .container {
        text-align: center;
    }
}
