body {
  font-family: sans-serif;
  margin: 0;
}

nav {
  background-color: #fff;
  height: 75px;
}

nav .nav-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

nav .nav-brand {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .nav-menu {
  font-weight: bold;
}

nav .nav-menu .nav-item {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
}

nav .nav-menu .nav-item:hover {
  color: #1ca756;
}

nav .nav-menu .nav-item:active {
  color: #000;
}

nav .nav-menu .nav-item.nav-pill {
  background-color: #1ca756;
  font-weight: normal;
}

nav .nav-menu .nav-item.nav-pill:hover {
  color: #fff;
}

header {
  background-position: center;
  background-size: cover;
  height: 50vh;
}

header .header-overlay {
  background-color: rgba(28, 167, 86, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .header-subtitle,
header .header-title {
  margin: 0;
  padding: 0;
  max-width: 1000px;
  text-align: center;
}

header .header-title {
  color: #000;
  font-size: 100px;
}

header .header-subtitle {
  color: #fff;
  font-size: 50px;
}

header .header-link {
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  text-decoration: none;
}

header .header-link:hover {
  color: #fff;
  background-color: #1ca756;
}

header .header-link:active {
  color: #000;
}

main {
  min-height: 80vh;
}

main .container {
  max-width: 1000px;
  margin: 20px auto;
}

main .main-colums {
  display: flex;
}

main .main-column {
  flex-grow: 1;
  padding: 0 10px;
}

main .main-highlight {
  background-color: #1ca756;
}

main .main-highlight > .container {
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main-highlight > .container > * {
  margin: 0 10px;
}

main .main-highlight .main-highlight-title {
  color: #000;
  font-size: 40px;
  margin: 0;
}

main .main-highlight .main-highlight-subtitle {
  color: #fff;
  font-size: 20px;
  margin: 0;
}

main .main-highlight .main-highlight-link {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  text-decoration: none;
}

main .main-highlight .main-highlight-link:hover {
  color: #1ca756;
}

main .main-highlight .main-highlight-link:active {
  color: #000;
}

article .article-date {
  color: #1ca756;
  padding: 0 10px;
}

article .content {
  padding: 0 10px;
}

aside .aside-title {
  color: #1ca756;
}

footer {
  background-color: #1ca756;
}

footer .footer-container {
  max-width: 1000px;
  margin: 50px auto 0;
  display: flex;
  padding: 40px 10px 80px;
}

footer .footer-container .footer-column {
  flex-grow: 1;
  padding: 0 10px;
}

footer .footer-title {
  color: #fff;
  margin: 0;
  font-size: 17px;
}

footer .footer-text {
  margin: 3px 0;
  color: #fff;
}

.admin nav {
  background-color: #1ca756;
}

.admin nav .nav-brand {
  font-size: 20px;
  color: #fff;
  width: unset;
  height: unset;
  text-decoration: none;
}

.admin nav .nav-item {
  color: #fff;
}

.admin nav .nav-item:hover {
  color: #000;
}

.admin nav .nav-item.nav-pill {
  background-color: #fff;
  color: #000;
}

.admin nav .nav-item.nav-pill:hover {
  color: #1ca756;
}

form input,
form textarea {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.action {
  width: 30%;
  margin: 10px;
  margin-bottom: 30px;
}

.action .action-image {
  width: 100%;
  height: 350px;
  border: solid 3px #1ca756;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.action a {
  text-decoration: none;
  color: #000;
}

.action a:hover {
  color: #1ca756;
}

.action .action-title {
  margin: 0;
  padding: 0 20px;
}

.action .action-subtitle {
  margin: 0px 20px;
  display: inline-block;
}

