body {
    font-family: 'Aller', sans-serif;
    margin: 0;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
}

nav {
    background-color: $light;
    height: 75px;

    .nav-container {
        max-width: $content-width;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .nav-brand {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .nav-menu {
        font-weight: bold;

        .nav-item {
            text-decoration: none;
            color: $dark;
            padding: 5px 10px;
            border-radius: $border-radius;
            margin: 0 5px;

            &:hover {
                color: $brand_primary;
            }

            &:active {
                color: $dark;
            }

            &.active {
                color: $brand_primary
            }

            &.nav-pill {
                background-color: $brand_primary;
                font-weight: normal;

                &:hover {
                    color: $light;
                }
            }
        }
    }
}

header {
    background-position: center;
    background-size: cover;
    height: 50vh;

    &.header-narrow {
        height: 25vh;

        .header-title {
            color: $light;
            font-size: 75px;
        }
    }

    .header-overlay {
        background-color: $brand_primary_overlay;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .header-subtitle, .header-title {
        margin: 0;
        padding: 0;
        max-width: $content-width;
        text-align: center;
    }

    .header-title {
        color: $dark;
        font-size: 100px;
    }

    .header-subtitle {
        color: $light;
        font-size: 50px;
    }

    .header-link {
        margin-top: 20px;
        padding: 5px 10px;
        border-radius: $border-radius;
        background-color: $light;
        text-decoration: none;
        color: $dark;

        &:hover {
            color: $light;
            background-color: $brand_primary;
        }

        &:active {
            color: $dark;
        }
    }
}

main {
    min-height: 80vh;

    .container {
        max-width: $content-width;
        margin: 20px auto;
    }

    .main-colums {
        display: flex;
        align-content: center;
    }

    .main-column {
        flex-basis: 33%;
        padding: 0 10px;
    }
}

article {
    .article-date {
        color: $brand_primary;
        padding: 0 10px;
    }

    .content {
        padding: 0 10px;
    }
}

aside {
    .aside-title {
        color: $brand_primary;
    }
}

footer {
    background-color: $brand_primary;

    .footer-container {
        max-width: $content-width;
        margin: 50px auto 0;
        display: flex;
        padding: 40px 10px 80px;

        .footer-column {
            flex-grow: 1;
            padding: 0 10px;
        }
    }

    .footer-title {
        color: $light;
        margin: 0;
        font-size: 17px;
    }

    .footer-text {
        margin: 3px 0;
        color: $light;
    }

    .footer-copyright {
        color: $light;
        font-size: 10px;
        text-align: center;
        width: 100%;
        margin: 10px auto;
        display: inline-block;
    }

    a {
        color: $light;
    }

    a:hover {
        color: $light;
        font-weight: bold;
    }
}

button, .btn {
    border: 0;
    border-radius: $border-radius;
    background-color: $brand_primary;
    color: $light;
    padding: 5px 10px;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background-color: $brand_primary_dark;
        color: $light;
    }

    &:active {
        box-shadow: 0 0 5px $brand_primary_light;
        color: $light;
    }
}

a, button.link {
    text-decoration: none;
    color: $brand_primary;

    &:hover {
        color: $brand_primary_dark;
    }

    &:active {
        color: $brand_primary_light;
    }
}
